$body-bg: #fff; // Background Color
$theme-colors: (
  primary: #d1a659,
); // Site Theme Color
$body-color: #383838; // body content color
$theme-bgcolor: #d1a659;
$theme-bg-light: #fcf9ef;
$theme-bg-secondary: #e4e1d2;
$theme-bg-black: #231f20;
$border-primary: #dfe3ee;
$input-border-color: #dcdcdc; // form-control border color
$input-height: 2.7rem; // form-control height
$link-color: #d1a659;
