$body-bg: #fff; // Background Color
// $body-color: #1d1d33; // body content color
$theme-colors: (
  'primary': #a29472
);
$theme1: #192b41;
$theme2: #a29472;
$theme3: #3c3c3b;

$shadowbox: 0 1rem 3rem rgba($theme1, 0.275);
