.form-control {
  height: 3rem;
  font-size: 0.95rem;
  background-color: $theme3;
  color: $white;
  &:focus {
    background-color: $theme3;
    color: $white;
  }
}
.input-group-text {
  background-color: transparent;
}

$maxwidth1024: 1024px;
$maxwidth960: 960px;
$maxwidth768: 768px;
$maxwidth767: 767px;
$maxwidth414: 414px;

@mixin mxw1024() {
  @media (max-width: $maxwidth1024) {
    @content;
  }
}

@mixin mxw960() {
  @media (max-width: $maxwidth960) {
    @content;
  }
}

@mixin mxw768() {
  @media (max-width: $maxwidth768) {
    @content;
  }
}

@mixin mxw767() {
  @media (max-width: $maxwidth767) {
    @content;
  }
}

@mixin mxw414() {
  @media (max-width: $maxwidth414) {
    @content;
  }
}

@mixin form_common {
  .assure_call {
    font-size: 0.8rem;
    text-align: center;
    color: $white;
    margin-top: 0.5rem;
  }
  .pol_con {
    overflow-y: hidden;
    margin-top: 0.5rem;
    position: relative;
    .our_pro {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      border-bottom: 1px dotted $theme2;
      height: 12px;
      span {
        position: absolute;
        left: calc(50% - 65px);
        top: -5px;
        background-color: $theme3;
        padding: 0.1rem 1rem;
        color: $theme2;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      float: left;
      display: block;
      width: calc(25% - 0px);
      text-align: center;
      color: $white;
      border-left: 1px solid rgba($theme2, 0.2);
    }
    ul li:first-child {
      border: none;
    }
    ul li i {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    ul li span {
      font-size: 0.65rem;
      line-height: 100%;
      display: block;
    }
  }
}
