// Required
@import './projectvariables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
// @import './projectnavbar';
// @import './projectmixin';
// @import './slick';
// @import './slick-theme';

@font-face {
  font-family: heading-font;
  src: url(../fonts/Humanist521BT-Bold.woff);
}

.fancybox-container,
.modal {
  z-index: 10000000000;
}

.dropdown-item {
  padding: 0.25rem 1rem;
}

h1,
h2,
h3,
h4,
.h1 {
  font-family: 'heading-font';
}

.bg-dark {
  background-color: $theme-bg-black !important;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-left: 1rem;
}

.navbar-toggler {
  margin-right: 1rem;
}

.navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  background-color: $theme-bgcolor;
}

.bnr_sec {
  position: relative;
  height: 600px;
}

.bnr_sec img {
  min-width: 100%;
}

.img-small {
  display: none;
}

.banner_info {
  position: relative;
  z-index: 10;
  margin-top: -450px;
}

.p_tit {
  color: $white;
  text-align: center;
  margin-bottom: 2rem;

  @media (max-width:414px) {
    h1 {
      font-size: 1.6rem;
    }
  }
}

.p_tit h1,
.p_tit .h1 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.tit_tag {
  font-size: 1.5rem;
}

.p_det {
  color: $white;

  p {
    text-align: left;
  }
}

.p_det span {
  font-size: 1.5rem;
  display: inline-block;
  border-bottom: 3px solid $theme-bgcolor;
}

.p_config {
  margin-top: 4rem;
}

.conf_heading {
  border-bottom: 1px dotted $body-color;
  padding-bottom: 0.4rem;
}

.config_item {
  margin-bottom: 2rem;
  font-weight: 600;

  p {
    text-align: left;
  }
}

.config_item i {
  font-size: 2rem;
  font-weight: 700;
  float: left;
  color: $theme-bgcolor;
  margin-right: 0.5rem;
}

.config_item span,
.config_item p {
  margin-left: 2.5rem;
}

.config_item span {
  color: $gray-600;
  display: block;
}

.config_item p {
  margin-bottom: 0.7rem;
  line-height: 90%;
  font-weight: 600;
}

.des_con {
  margin-top: 5rem;
}

.des_con h2 {
  margin-bottom: 2rem;
  font-weight: 700;
}

.des_con h3 {
  color: $gray-600;
}

.des_con img {
  width: 100%;
}

.des_con p {
  text-align: justify;
}

.des_heading {
  text-align: center;
}

.btn-primary {
  color: $white;
  font-weight: 700;
}

.right_form {
  background-color: $white;
  padding: 1.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.frm_heading {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: $theme-bg-black;
}

label {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: $gray-600;
}

label i {
  color: $red;
}

.prce_list {
  padding: 3rem 0 4rem;
  background-color: rgba($theme-bgcolor, 0.2);

  .prclist {
    background-color: rgba($white, 0.4);
    margin-bottom: 3rem;
    border-radius: 0.4rem;
    text-align: center;
  }

  .lprice {
    font-size: 3.5rem;
    line-height: 100%;
    font-weight: 700;
    background-color: rgba($white, 0.5);
    padding: 0.9rem 0;

    sup,
    sub {
      font-size: 1rem;
    }

    span,
    small {
      display: block;
      font-size: 1rem;
      line-height: 100%;
      color: $gray-600;
    }
  }

  .lprice .cd-price {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .floorname {
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.9rem;
  }

  .floorname1 {
    padding: 0.9rem 0;
    font-size: 1.1rem;
    font-weight: 600;

    small {
      display: block;
    }
  }

  .view_name {
    padding: 0.5rem;
    font-weight: 600;
    border-bottom: 1px solid $gray-400;
    text-align: center;
  }

  .prjsize {
    background-color: rgba($white, 0.5);
    padding: 0.8rem 0;
  }
}

.location_advan {
  background-color: rgba($theme-bg-black, 0.9);
  margin-bottom: 2rem;
  padding: 1px;

  figure {
    margin-bottom: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .advan_inner {
    padding: 2rem;

    @media (max-width: 960px) {
      padding: 1rem;
    }

    color: $theme-bgcolor;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 0.7rem;
        padding-left: 2rem;

        &::before {
          float: left;
          margin-left: -1.9rem;
          font-family: 'Font Awesome 5 Free';
          content: '\f058';
        }
      }
    }
  }
}

.consul_area {
  position: relative;
  // background: rgba($gray-900, 0.95);
  padding: 3rem 0;
  margin-bottom: 2rem;

  .no_bdr {
    border: none;
  }

  .consul__inner {
    border-left: 1px solid $theme-bgcolor;
    border-right: 1px solid $theme-bgcolor;
    padding: 1rem;
    position: relative;
    // color: $theme-bg-light;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

    a {
      text-decoration: none;
      color: $theme-bgcolor;
      display: block;

      i {
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
      }
    }

    span {
      margin-top: 0.5rem;
      display: block;
      font-size: 0.9rem;
      text-transform: none;
      // color: $white;
    }
  }

  @media (max-width: 767px) {
    .consul__inner {
      border: 1px solid rgba($theme-bg-secondary, 0.9);
    }
  }
}

.construction {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.7rem;
      padding-left: 2rem;

      &::before {
        float: left;
        margin-left: -1.9rem;
        font-family: 'symbol';
        content: '\a651';
      }
    }
  }
}

.nshare {
  text-align: center;
  color: $gray-600;
  font-size: 0.85rem;
}

.frm_call {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}

.frm_call a {
  color: $theme-bgcolor;
  border-bottom: 1px dotted $input-border-color;
  padding-bottom: 0.3rem;
  display: inline-block;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
}

.frm_call a:hover {
  color: $theme-bg-black;
}

.des_ameni {
  background-color: $theme-bg-light;
  padding: 4rem 0 5rem;
}

.new_sec {
  position: relative;
  background-color: #fff;
  padding: 4rem 0 6rem;

  .custom-svg3 {
    top: -8rem;
    position: absolute;
    z-index: auto;
  }

  .new_list {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      background-color: rgba(255, 255, 255, 0.7);
    }

    &::after {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      content: '';
      border: 1px solid #d1a659;
    }

    .inner_det {
      position: absolute;
      width: calc(100% - 5rem);
      height: calc(100% - 5rem);
      bottom: 2.5rem;
      left: 2.5rem;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      .h5 {
        color: #000;
      }
    }

    &.last {
      &::before {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }

      .inner_det {
        align-items: flex-end;
        text-align: right;
      }
    }

    @media (max-width: 991px) {
      &::after {
        top: 0.5rem;
        left: 0.5rem;
        width: calc(100% - 1rem);
        height: calc(100% - 1rem);
      }

      .inner_det {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        bottom: 1rem;
        left: 1rem;
      }
    }
  }

  @media (max-width: 767px) {
    .h1 {
      font-size: 1.3rem;
    }
  }
}

.about_dev {
  padding: 4rem 0;
}

.inner_bg {
  background-color: $theme-bg-light;
  padding: 5rem 0 4rem;
}

.table-bordered th,
.table-bordered td {
  border-color: $theme-bgcolor;
}

.ameni_item {
  padding: 1rem;
  border: 1px dotted $theme-bgcolor;
  min-height: 9rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.ameni_item i {
  display: block;
  font-size: 2.5rem;
  color: $theme-bgcolor;
  margin-bottom: 0.5rem;
}

#map {
  height: 500px;
  width: 100%;
  border: 1px solid #333;
  margin-top: 0.6em;
}

.hm_map {
  position: relative;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 10px;
}

.hm_map ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow: auto;
}

.hm_map ul li {
  float: left;
  width: 113px;
  position: relative;
}

.flr_list a {
  display: block;
  border: 2px solid rgba($theme-bg-black, 0.5);
  background-color: $white;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1.87rem;
}

.flr_list a figcaption {
  border-top: 1px solid rgba($theme-bg-black, 0.5);
  padding: 0.5rem;
}

.flr_list a:hover {
  border: 2px solid rgba($theme-bgcolor, 1);
  background-color: $theme-bgcolor;
  color: $white;
}

.callb_con {
  background-color: $theme-bg-black;
  padding: 4rem 1rem;
  text-align: center;
  color: $white;
  position: relative;
  z-index: 11;
}

.callb_heading {
  font-size: 2.1rem;
}

.topplan {
  background-color: $theme-bgcolor;
  font-weight: 700;
  padding: 0.5rem 0.6rem;
  margin-top: 1rem;
}

.topplan1 {
  background-color: $theme-bg-light;
  font-weight: 700;
  padding: 0.5rem 0.6rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.footer {
  background-color: $gray-900;
  padding: 3rem 0;
  text-align: center;

  @media (max-width:991px) {
    padding-bottom: 5rem;
  }
}

.footer_con {
  margin-bottom: 0.5rem;
}

.footer_con ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_con ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-left: 1px solid $theme-bgcolor;
}

.footer_con ul li:first-child {
  border: none;
}

.footer_con ul li a {
  display: block;
  padding: 0 0.5rem;
  text-decoration: none;
}

.ftr_copyright {
  display: inline-block;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px dotted $gray-700;
  color: $gray-600;
}

@-webkit-keyframes enq_btn {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes enq_btn {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.enq_btn {
  display: none;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
  background-color: $theme-bgcolor;
  font-size: 1.9rem;
  color: $white;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  text-decoration: none;
  line-height: 65px;
  text-align: center;
}

.enq_btn:before {
  content: '';
  position: absolute;
  border: $theme-bgcolor solid 10px;
  border-radius: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  cursor: pointer;
}

.enq_btn:hover {
  text-decoration: none;
  color: $white;
}

.enq_btn:hover:before {
  -webkit-animation-name: enq_btn;
  animation-name: enq_btn;
}

.dis_con {
  padding: 15% 0;
}

.dis_heading {
  font-size: 2rem;
}

.whatsapp {
  position: fixed;
  background-color: #075e54;
  padding: 13px;
  border-radius: 100%;
  left: calc(50% - 26px);
  bottom: 21px;
}

.thank {
  text-align: center;
  font-size: 1.5rem;
}

.thank-you {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.aside_btn {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #dcdcdc;
  padding: 1rem 0.9rem;
  padding-left: 142px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      &.xs_w-20 {
        margin-right: 0.8rem;
      }

      &.xs_w-40 {
        width: 100%;

        .btn {
          padding-left: 0.1rem;
          padding-right: 0.1rem;
        }
      }
    }
  }

  @media (min-width: 961px) {
    display: none !important;
  }
}

.display_popup {
  position: fixed;
  left: 132px;
  bottom: 72px;
  z-index: 1200;
  display: none;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-top: 0.5rem;
      padding: 0;

      a {
        display: block;
        background-color: $theme-bgcolor;
        padding: 0.3rem 0.5rem 0.5rem;
        border-radius: 50%;
        font-size: 1.9rem;
        color: #fff;
        text-align: center;
        text-decoration: none;
        width: 4rem;
        height: 3.9rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .flr_list a img {
    height: 210px;
  }
}

@media (min-width: 961px) {
  .navbar {
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
  }

  .bnr_sec img {
    height: 600px;
  }

  .bnr_sec:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 960px) {
  .bnr_sec {
    margin-top: 58px;
  }

  .bnr_sec {
    height: auto;
  }

  .banner_info {
    margin-top: 1.5rem;
    color: $theme-bgcolor;
    background-color: $body-bg;
  }

  .p_tit,
  .p_det {
    color: $theme-bgcolor;
  }

  .p_det p {
    color: $theme-bg-black;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .tit_tag {
    font-size: 1.2rem;
  }

  .p_det {
    margin-top: 3rem;
  }

  .enq_btn {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .img-big {
    display: none !important;
  }

  .img-small {
    display: block;
  }

  .ameni_item {
    font-size: 0.9rem;
  }

  .p_det span {
    font-size: 1.1rem;
  }

  .callb_heading {
    font-size: 1.5rem;
  }

  .h4 {
    font-size: 1.2rem;
  }

  #map {
    height: 350px;
  }

  .dis_con {
    padding: 23% 0 10%;
  }

  .frm_heading {
    font-size: 1.2rem;
  }
}

.callb {
  padding: 3rem 0;
  text-align: center;
  background-color: rgba($theme-bgcolor, 0.3);

  &__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    &__one {
      padding: 1rem 1rem 0;
      border-right: 1px solid $theme-bgcolor;
    }

    &__two {
      padding: 1rem 1rem 0;
    }
  }

  @media (max-width: 375px) {
    .btn {
      font-size: 0.9rem;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
  }
}

.sch_modal {
  .h4 {
    color: $theme-bgcolor;

    i {
      // font-size: 2rem;
      font-weight: 700;
    }
  }

  p {
    text-align: justify;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;

    li {
      padding-left: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      width: 50%;

      // color: rgba($white, 0.8);
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f069';
        float: left;
        font-size: 0.6rem;
        margin-left: -1.4rem;
        margin-top: 0.3rem;
      }
    }
  }

  .sch_form {
    &_heading {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
}

.modal-backdrop {
  background-color: $white;

  &.show {
    opacity: 0.97;
  }
}

.modal-content {
  box-shadow: 0 8px 60px 0 rgba($theme-bg-secondary, 0.22),
    0 12px 90px 0 rgba($theme-bgcolor, 0.22);
  border: none;
}

.modal-header {
  padding: 0;
  border-bottom: none;

  .btn-close {
    box-shadow: 0 8px 60px 0 rgba($theme-bg-secondary, 0.22),
      0 12px 90px 0 rgba($theme-bgcolor, 0.22);
    background-color: $theme-bgcolor;
    margin: -1.2rem -1.2rem -1rem auto;
    outline: none;
    opacity: 1;
    border-radius: 100%;
    padding: 0.9rem 0.8rem 0.7rem;
    border: 1px solid rgba($theme-bg-secondary, 0.11);
    position: relative;
    z-index: 1;

    &:hover {
      background-color: $theme-bg-secondary;
      color: $white;
    }
  }
}

.modal-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.slider_area {
  position: relative;

  .slider-main {

    .swiper-button-next,
    .swiper-button-prev {
      bottom: 0 !important;
      top: auto;
      background-color: rgba($black, 0.8);
      padding: 1.3rem;
      color: $theme-bgcolor;

      &::after {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    &.swiper-container {
      padding-bottom: 4rem;

      .swiper-button-prev {
        right: 3rem;
        left: auto;
      }

      .swiper-button-next {
        right: 0;
      }
    }
  }

  .swiper-slide {
    .inner {
      background-color: $white;
      display: flex;

      &__left {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: center;
        justify-content: flex-end;
        text-align: right;
        padding: 1.5rem;
        // border: rgba($theme-bgcolor, 0.5) solid 1px;
        width: 40%;
      }

      &__right {
        width: 60%;

        img {
          min-height: 500px;
          max-height: 500px;
          width: 100%;
        }
      }

      @media (max-width: 991px) {
        flex-wrap: wrap;

        &__left {
          width: 100%;
          text-align: left;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0.5rem 1rem 0;
          border: rgba($theme-bgcolor, 0.5) solid 1px;
        }

        &__right {
          width: 100%;

          img {
            min-height: 300px;
            max-height: 300px;
          }
        }
      }
    }
  }

  .swiper-container-horizontal>.swiper-scrollbar {
    width: calc(50% - 11rem);
    // height: 4px;
    left: 55%;
    top: 96%;

    // background-color: rgba($gray-400, 0.6);
    @media (max-width: 991px) {
      left: 4rem;
      width: calc(100% - 10rem);
    }
  }

  .swiper-pagination-fraction,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    width: auto;
    font-weight: 700;
    left: calc(50% - 0rem);

    @media (max-width:991px) {
      left: 0;
    }
  }
}

.gall_des {
  p {
    text-align: justify;
  }
}

@mixin form_common {

  // .assure_call {
  //   font-size: 0.8rem;
  //   text-align: center;
  //   color: $white;
  //   margin-top: 0.5rem;
  // }
  .pol_con {
    overflow-y: hidden;
    margin-top: 0.5rem;
    position: relative;

    .our_pro {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      border-bottom: 1px dotted $theme-bgcolor;
      height: 12px;

      span {
        position: absolute;
        left: calc(50% - 65px);
        top: -5px;
        background-color: $white;
        padding: 0.1rem 1rem;
        color: $theme-bgcolor;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        display: block;
        width: calc(25% - 0px);
        text-align: center;
        color: $black;
        border-left: 1px solid rgba($theme-bgcolor, 0.2);

        &::first-child {
          border: none;
        }

        i {
          display: block;
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }

        span {
          font-size: 0.7rem;
          line-height: 100%;
          display: block;
        }
      }
    }
  }
}

#ftrForm {
  @include form_common;
}

.adsarea {
  margin-top: 3rem;

  .ads_inner {
    position: relative;
    border: rgba(209, 166, 89, 0.3) solid 2px;

    &:hover {
      border: #d1a659 solid 2px;
    }

    figure {
      margin-bottom: 0;
    }
  }

  .txt_inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    position: relative;
    padding: 1rem;
    padding-right: 3.5rem;

    .h3 {
      font-size: 1.5rem;
      color: #007bff;
      font-weight: 500;
    }

    .h5 {
      font-size: 1.1rem;
    }

    .ads_btn {
      position: absolute;
      right: 1rem;
      top: calc(50% - 20px);
    }
  }
}

.four04_con {
  margin-top: 3rem;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blog_sec {
  background-color: $white;
  padding: 3rem 0 5rem;

  .b_desc {
    font-weight: 500;
    font-size: larger;
    text-align: center;
  }

  .blog {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;

    &__list {
      width: calc(50% - 2rem);
      background-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      margin: 1rem;
      position: relative;

      &__inner {
        padding: 1.5rem;

        .auth {
          margin-bottom: 1rem;

          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            &:nth-child(2) {
              border-right: none;
            }

            li {
              padding-right: 0.5rem;
              margin-right: 0.5rem;
              border-right: 1px solid;
              font-size: 0.8rem;
            }
          }
        }

        h3 {
          font-size: 1.3rem;
          color: $primary;
        }

        p {
          font-size: 1.1rem;
          color: $gray-600;
        }

        .readmore {
          color: $primary;

          i {
            font-weight: 900 !important;
            font-size: 0.75rem !important;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding: 2rem 1rem 5rem;

    .h2 {
      font-size: 2rem;
    }

    .b_desc {
      text-align: center;
    }

    .blog__list {
      width: 100% !important;
    }
  }
}